<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        {% for exp in site.experiences %}
            <div data-date="{{ exp.dates }}">
                <a href="http://www.{{ exp.employer_name}}/">
                    <h3>{{ exp.employer_name}}</h3>
                </a>
                <h4>{{ exp.title }}</h4>
                <p>{{ exp.description}}</p><br/>
                {% if exp.stack %}<p>Full stack: {{ exp.stack }}</p> {% endif %}
                <small>Related: {{ exp.related }}</small>
            </div>
        {% endfor %}
    </div>
</div>